extends layouts/main

block headScriptAndCss
  link(rel='stylesheet' href='/static/css/home.css')
  script(src="https://code.jquery.com/jquery-3.6.0.js")
  script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
  script(src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous")

block content 
  .row.align-items-md-stretch 
    .col.col-md-2.leftCard
      div.card.userInfo
        p Current id :
        p.card-text#currentUserId=userId
        button.btn.btn-danger#logout(type="button") Log out
      div.card.chat
        button.btn.btn-outline-secondary#roomName(type='button') NULL
        .row 
          button.btn.btn-light.col#chatNewBtn(style="margin-left:12px;") New
          button.btn.btn-light.col(data-bs-toggle="modal" data-bs-target="#joinRoomModal") Join
          button.btn.btn-light.col#chatExitBtn(style="margin-right:12px;") Exit


        ul.chatRecord#chatRecordBoard
        .chatInputDiv
          .input-group.mb-3.chatInputForm
            input.form-control#chatInput(type='text' placeholder="Chat" aria-describedby='chatInputButton')
            button#chatInputButton.input-group-text >
          
          #joinRoomModal.modal.fade(tabindex='-1' aria-labelledby='joinRoomModalLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered
              .modal-content
                .modal-header
                  h5#joinRoomModalLabel.modal-title Input room name
                  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                  form 
                    .mb-3
                      label.col-form-label(for='inputRoomName') Room Name
                      input#inputRoomName.form-control(type='text')
                .modal-footer
                  button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                  button.btn.btn-primary#joinRoomButton(type='button' data-bs-dismiss='modal') Join

    .col.col-md-9
      .container.childContainer
        header
          ul#navContainer.nav.nav-tabs.sortable
            .dropdown
              button#newButton.btn.btn-primary(type='button') 새 파일
              button#shareButton.btn.btn-primary(type='button') 공유하기
              button#ddButton.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | 불러오기
              ul.dropdown-menu#dropdownMenu(aria-labelledby='ddButton')
        br
        section.notepad
block scripts
  script(src='/static/js/classes/manageData/manageNotepadData.js')
  script(src='/static/js/classes/manageData/manageUserData.js')
  script(type="module" src='/static/js/notepadLoader.js')