extends layouts/main

block headScriptAndCss
  link(rel='stylesheet' href='/static/css/home.css')
  script(src="https://code.jquery.com/jquery-3.6.0.js")
  script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
  script(src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous")

block content 
  .container
  .row.align-items-md-stretch 
    .col.col-md-2.leftCard
      div.card.userInfo
        p Current id :
        p.card-text#currentUserId=userId
        button.btn.btn-danger#logout(type="button") Log out
      div.card.chat
        ul.chatRecord#chatRecordBoard
          li hi
        .input-group.mb-3.chatInputDiv
          input.form-control#chatInput(type='text' placeholder="Chat" aria-describedby='chatInputButton')
          button#chatInputButton.input-group-text >
    .col.col-md-9
      .container.childContainer
        header
          ul#navContainer.nav.nav-tabs.sortable
            .dropdown
              button#openFile.btn.btn-primary(type='button') 새 파일
              button#ddButton.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | 불러오기
              ul.dropdown-menu#dropdownMenu(aria-labelledby='ddButton')
        br
        section.notepad
block scripts
  script(src='/static/js/classes/manageData/notepadData.js')
  script(src='/static/js/classes/manageData/userData.js')
  script(type="module" src='/static/js/notepadLoader.js')